*.pyc
*.o
hw1/q2/.idea/
hw1/q2/virtualenvironment/
hw1/q3/old/
hw1/q6/old/
hw1/q5/old/
hw1/q6/.idea/
hw1/q6/.ipynb_checkpoints/
hw1/q7/.idea/
hw1/q7/.ipynb_checkpoints/
hw2/q2/.ipynb_checkpoints/
hw2/q2/.idea/
hw2/q1/old/
hw2/q2/old/
hw2/q4/.idea/
hw2/q4/.ipynb_checkpoints/
